html, body {
    height: 100%;
    padding: 0;
}


div {
    padding: 5px;
}

#treesvg {
    width: 500;
    height: 500;
    border: 1px black solid;
}

.label {
    font: 12pt sans-serif;
}

.container {
    position: relative;
}

.node {
    stroke: black;
    stroke-width: 1pt;
    r: 15;
}

.link {
   stroke: black;
   stroke-width: 2pt;
}
